html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ffffff;
    overflow-x: hidden;
}

th {
    padding: 0;
}

tbody, td, tfoot, th, thead, tr {
    border-width: 1px;
}

.h4 {
    line-height: 0.6;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1800px;
    padding: 30px 50px;
}

.add-form {
    min-width: 400px;
    position: relative;
}

.add-button {
    margin-top: 20px;
    width: 100%;
}

.table {
    flex-basis: 70%;
}

.col-header {
    position: relative;
    cursor: pointer;
}

th.sorted[data-order="-1"]::after {
    position: absolute;
    right: 8px;
	content: "▼"
}

th.sorted[data-order="1"]::after {
    position: absolute;
    right: 8px;
	content: "▲"
}

.table>:not(caption)>*>* {
    border-right-width: 1px;
}

.form-group {
    position: relative;
}

.form-control {
    position: relative;
    z-index: 1;
}

.error-text {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: tomato;
    border-radius: 15px;
    height: 23px;
    width: 350px;
    top: 25%;
    left: 0;
    font-size: 13px;
    opacity: 0;
    user-select: none;
    overflow: hidden;
    transition: left .3s ease-in-out;
}

.error-text--active {
    opacity: 1;
    left: -90%;
}

.error-selection {
    position: absolute;
    right: -3px;
    top: 21px;
    width: 0;
    height: 0;
    border-radius: 8px;
    background-color: tomato;
    transition: width .3s ease-in, height .1s ease-in;
}

.error-selection--active {
    width: 406px;
    height: 44px;
}

.no-students {
    margin: auto auto;
    font-size: 40px;
    font-weight: 600;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.filters-header {
    width: 100%;
}

.filters > input {
    margin-right: 20px;
    flex-basis: 20%;
}

.row__none {
    /* display: none; */
}