html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #ffffff;
}

th {
    padding: 0;
}

tbody, td, tfoot, th, thead, tr {
    border-width: 1px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1800px;
    padding: 30px 50px;
}

.add-form {
    min-width: 400px;
}

.add-button {
    margin-top: 20px;
    width: 100%;
}

.table {
    flex-basis: 70%;
}

.col-header {
    position: relative;
    cursor: pointer;
}

th.sorted[data-order="-1"]::after {
    position: absolute;
    right: 8px;
	content: "▼"
}

th.sorted[data-order="1"]::after {
    position: absolute;
    right: 8px;
	content: "▲"
}

.table>:not(caption)>*>* {
    border-right-width: 1px;
}

.form-group {
    position: relative;
}

.error-input {
    position: absolute;
    display: flex;
    background-color: red;
    border-radius: 15px;
    padding-right: 10px;
    height: 23px;
    width: 23px;
    top: 50%;
    left: -7%;
    font-size: 13px;
    user-select: none;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.error-ico {
    padding: 0px 8px;
    margin-right: 20px;
    font-size: 16px;
    background-color: red;
    border-radius: 15px;
    font-weight: 900;
    cursor: default;
}

.error-input:hover {
    width: 100%;
}

.error-text--active {
    width: 100%;
}

.error-input--showed {
    display: block;
}

.no-students {
    margin: auto auto;
    font-size: 40px;
    font-weight: 600;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.filters-header {
    width: 100%;
}

.filters > input {
    margin-right: 20px;
    flex-basis: 20%;
}

.row__none {
    display: none;
}